<div style="margin: 40px;">
    <h1 class="text-center mb-4">Vos emails</h1>
    <div class="row">
    
    
        <div class="col-4"> 
            
            
            <%@emails.reverse.each do |email|%>
                
                    <%if email.read == false%>
                        <div class="card border-dark row">                    
                            <div class="card-header">
                                <p class="strong"> <%= link_to "#{email.objet}", "email_path(#{email.id})", remote: true %></p>
                            </div>
                        </div>
                            
                    <% else %>
                        <div class="card border-light row">                    
                            <div class="card-header">
                                <p class="strong"> <%= link_to "#{email.objet}", "email_path(#{email.id})", remote: true %></p>
                            </div>
                        </div>
                        
                    <%end%>
                    
                
            <%end%>
        </div>

        <div class="card col-8">
        <p>Coucou!!!!!!!!!!!!!!!!</p>
        </div>
    </div>
</div>